<!-- Modal -->
<div class="modal fade" id="doctor-logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/images/house.png" height="28px">
            </div>
            <div class="modal-body">
                <h5>Are you sure?</h5>
                <p>If you log out, you won’t be able to recieve consulation bookings.</p>
            </div>
            <div class="modal-footer">
                <a href="/logout"><button type="button" id="logout-btn" class="btn btn-secondary" >Log Out</button></a>
                <button type="button" id="close-modal-btn" class="btn btn-primary" data-dismiss="modal">Go Back</button>
            </div>
        </div>
    </div>
</div>