<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center my-2" href="/">
        <div class="sidebar-brand-icon">
            <img src="/images/symbol_white.png" height="30px">
        </div>
        <div class="sidebar-brand-text"><img src="/images/wordmark_white.png" height="32px"></div>
    </a>

    <!-- Divider -->
    <!-- <hr class="sidebar-divider my-0"> -->

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link my-2" id="dashboard-nav-link" href="/">
            <i class="far fa-clipboard-list-check"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Nav Item - Appointments -->
    <li class="nav-item">
        <a class="nav-link my-2" id="dashboard-nav-link" href="/appointments">
            <i class="far fa-table"></i>
            <span>Appointments</span>
        </a>
    </li>

    <!-- Nav Item - Patients -->
    <li class="nav-item">
        <a class="nav-link my-2" id="dashboard-nav-link" href="/patients">
            <i class="far fa-user-friends"></i>
            <span>Patients</span>
        </a>
    </li>


    <!-- Nav Item - Transactions -->
    <li class="nav-item">
        <a class="nav-link my-2" href="/transactions">
            <i class="far fa-receipt"></i>
            <span>Transactions</span></a>
    </li>

        <!-- Nav Item - Notifications -->
        <li class="nav-item">
            <a class="nav-link my-2" href="/notifications">
                <i class="far fa-bell"></i>
                <span>Notifications</span></a>
        </li>
        
    <!-- Nav Item - Settings -->
    <li class="nav-item mt-auto">
        <a class="nav-link my-2" href="tables.html">
            <i class="far fa-cog"></i>
            <span>Settings</span></a>
    </li>

        <!-- Nav Item - Log Out -->
        <li class="nav-item">
            <a class="nav-link my-2" data-toggle="modal" data-target="#doctor-logout">
                <i class="far fa-sign-out"></i>
                <span>Log Out</span></a>
        </li>

    <!-- Divider -->
    <!-- <hr class="sidebar-divider d-none d-md-block"> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center mb-4">
        <button class="rounded-circle border-0 my-2" id="sidebarToggle"><span class="sidebarIcon d-flex justify-content-center"><i class="fas fa-angle-left"></i></span></button>
    </div>

</ul>
<!-- End of Sidebar -->