<nav class="navbar navbar-light fixed-bottom d-flex justify-content-center align-content-center">
    <div class="nav-container d-flex justify-content-center align-content-center">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <i class="fad fa-home-lg-alt"></i>
                    <span>Home</span>
                </a>
            </li>
            <!-- Nav Item - Appointments -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fad fa-clipboard-list-check"></i>
                    <span>Activity</span>
                </a>
            </li>
            <!-- Nav Item - Patients -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fad fa-user-circle"></i>
                    <span>Account</span>
                </a>
            </li>
    </div>
</nav>