<div class="main">
    <h3>Welcome, Doctor</h3><br>
    <h5>Recent Appointments</h5>
    <div class="appointments-container">
        <div class="appointment">
            <div class="appointment-header">
                <h6 id="name">Brant Uy</h6>
                <div class="status" id="confirmed">
                    confirmed
                </div>
            </div>
            <div class="appointment-body">
                <p id="date">Nov.27, 2020</p>
                <p>10:30 AM</p>
            </div>
            <div class="days">
                <p>3 days left</p>
            </div>
            <div class="appointment-footer">
                <p>View Patient</p>
            </div>
        </div>
        <div class="appointment">
            <div class="appointment-header">
                <h6 id="name">Victor Aguhob</h6>
                <div class="status" id="on-call">
                    on-call
                </div>
            </div>
            <div class="appointment-body">
                <p id="date">Nov.24, 2020</p>
                <p>8:00 AM</p>
            </div>
            <div class="days">
                <p>Today</p>
            </div>
            <div class="appointment-footer">
                <p>View Patient</p>
            </div>
        </div>
        <div class="appointment">
            <div class="appointment-header">
                <h6 id="name">Ean Velayo</h6>
                <div class="status" id="done">
                    done
                </div>
            </div>
            <div class="appointment-body">
                <p id="date">Nov.19, 2020</p>
                <p>1:00 PM</p>
            </div>
            <div class="days">
                <p>3 days ago</p>
            </div>
            <div class="appointment-footer">
                <p>View Patient</p>
            </div>
        </div>
    </div>
    <h5>Pending Requests</h5>
    <div class="pending-requests">
        <table class="requests">
            <tr class="requests-header">
                <th id="patient">PATIENT</th>
                <th id="booking-date">BOOKING DATE</th>
                <th id="remaining-days">REMAINING DAYS</th>
                <th id="status">STATUS</th>
                <th id="decision"></th>
            </tr>
            <tr>
                <td >
                    <div class="picture">
                        <img class="img-patient" src="images/undraw_profile_1.svg">
                    </div>
                    <div class="patient-name">
                        Bruce Alturas
                        <p id="patient-id">00001</p>
                    </div>
                </td>
                <td class="booking-date">Nov. 29, 2020 <p>9:00 AM</p></td>
                <td class="remaining-days">6 days left</td>
                <td class="table-status"><div class="requests-status">pending</div></td>
                <td class="decision"><div class="choice">
                        <div class="decline">Decline</div>
                        <div class="accept">Accept</div>
                </div></td>
            </tr>
            <tr>
                <td>
                    <div class="picture">
                        <img class="img-patient" src="images/undraw_profile_1.svg">
                    </div>
                    <div class="patient-name">
                        JB Magsipoc
                        <p id="patient-id">00002</p>
                    </div>
                </td>
                <td class="booking-date">Dec. 5, 2020 <p>10:00 AM</p></td>
                <td class="remaining-days">12 days left</td>
                <td class="table-status"><div class="requests-status">pending</div></td>
                <td class="decision"><div class="choice">
                        <div class="decline">Decline</div>
                        <div class="accept">Accept</div>
                </div></td>
            </tr>
        </table>
    </div>
</div>
