<div class="main">
    <h3>Welcome, Doctor</h3><br>
    <h5>Recent Appointments</h5>
    <div class="appointments-container">
        <div class="appointment">
            <div class="appointment-header">
                <h6 id="name">Brant Uy</h6>
                <div class="status" id="confirmed">
                    confirmed
                </div>
            </div>
            <div class="appointment-body">
                <p id="date">Nov.27, 2020</p>
                <p>10:30 AM</p>
            </div>
            <div class="days">
                <p>3 days left</p>
            </div>
            <div class="appointment-footer">
                <p>View Patient</p>
            </div>
        </div>
        <div class="appointment">
            <div class="appointment-header">
                <h6 id="name">Victor Aguhob</h6>
                <div class="status" id="on-call">
                    on-call
                </div>
            </div>
            <div class="appointment-body">
                <p id="date">Nov.24, 2020</p>
                <p>8:00 AM</p>
            </div>
            <div class="days">
                <p>Today</p>
            </div>
            <div class="appointment-footer">
                <p>View Patient</p>
            </div>
        </div>
        <div class="appointment">
            <div class="appointment-header">
                <h6 id="name">Ean Velayo</h6>
                <div class="status" id="done">
                    done
                </div>
            </div>
            <div class="appointment-body">
                <p id="date">Nov.19, 2020</p>
                <p>1:00 PM</p>
            </div>
            <div class="days">
                <p>3 days ago</p>
            </div>
            <div class="appointment-footer">
                <p>View Patient</p>
            </div>
        </div>
    </div>
    <h5>Pending Requests</h5>
    <div class="pending-requests">
        <div class="requests-header">
            PATIENT
            BOOKING DATE
            REMAINING DAYS
            STATUS
        </div>
        <div class="requests">

        </div>
    </div>
</div>
