<div class="account-wrapper">
    <div class="account-topbar">
        <div class="account-bar d-flex align-items-center">
            <div class="bar-container d-flex">
                <div class="account-pic"></div>
                <div class="view-profile">
                    <h1 class="account-name">Bruce Alturas</h1>
                    <a class="profile-link" href="/">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="account-nav">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Notifications</span>
                    <img src="/images/right-arrow@20px.svg">
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Notifications</span>
                    <img src="/images/right-arrow@20px.svg">
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Notifications</span>
                    <img src="/images/right-arrow@20px.svg">
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <span>Log Out</span>
            </a>
        </li>
    </div>
</div>
<%- include('./partials/patient-navbar.ejs') %>