#accordionSidebar {
  background-color: #2680c2 !important;
  background-image: none !important;
}

svg.svg-inline--fa.fa-clipboard-list-check.fa-w-12 {
  margin-left: 1.5rem;
  width: 1.5em !important;
  height: 1.5em !important;
}

.sidebar.toggled svg.svg-inline--fa.fa-clipboard-list-check.fa-w-12 {
  margin-left: 0rem;
}

svg.svg-inline--fa.fa-table.fa-w-16 {
  margin-left: 1.5rem;
  width: 1.5em !important;
  height: 1.5em !important;
}

.sidebar.toggled svg.svg-inline--fa.fa-table.fa-w-16 {
  margin-left: 0rem;
}

svg.svg-inline--fa.fa-user-friends.fa-w-20 {
  margin-left: 1.5rem;
  width: 1.5em !important;
  height: 1.5em !important;
}

.sidebar.toggled svg.svg-inline--fa.fa-user-friends.fa-w-20 {
  margin-left: 0rem;
}

svg.svg-inline--fa.fa-ticket.fa-w-18 {
  margin-left: 1.5rem;
  width: 1.5em !important;
  height: 1.5em !important;
}

.sidebar.toggled svg.svg-inline--fa.fa-ticket.fa-w-18 {
  margin-left: 0rem;
}

svg.svg-inline--fa.fa-receipt.fa-w-14 {
  margin-left: 1.5rem;
  width: 1.5em !important;
  height: 1.5em !important;
}

.sidebar.toggled svg.svg-inline--fa.fa-receipt.fa-w-14 {
  margin-left: 0rem;
}

.sidebar .nav-item .nav-link {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 14rem;
  /* margin-left: 1.5rem;
  margin-right: 1.5rem; */
}

.sidebar .nav-item .nav-link span {
  margin-left: 0.75rem;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.sidebar.toggled .nav-item .nav-link {
  /* display: block;
  text-align: center; */
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 6.5rem;
  /* margin-left: 0rem;
  margin-right: 0rem; */
}

.sidebar.toggled .nav-item .nav-link span {
  margin-left: 0rem;
  display: none;
}

.sidebar-brand-text {
  margin-left: 0.5rem;
}

.sidebar-brand-text img {
  margin-right: 1.25rem;
}

.sidebar-brand-icon img {
  margin-left: 1rem;
}

.sidebar.toggled .sidebar-brand-icon img {
  margin-left: 0rem;
}

@media (max-width: 575.98px) {
  .sidebar .nav-item .nav-link {
    /* display: block;
    text-align: center; */
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 6.5rem;
    /* margin-left: 0rem;
    margin-right: 0rem; */
  }

  .sidebar .nav-item .nav-link span {
    margin-left: 0rem;
    display: none;
  }

  svg.svg-inline--fa.fa-clipboard-list-check.fa-w-12 {
    margin-left: 0rem;
  }

  svg.svg-inline--fa.fa-table.fa-w-16 {
    margin-left: 0rem;
  }

  svg.svg-inline--fa.fa-user-friends.fa-w-20 {
    margin-left: 0rem;
  }

  svg.svg-inline--fa.fa-ticket.fa-w-18 {
    margin-left: 0rem;
  }

  svg.svg-inline--fa.fa-receipt.fa-w-14 {
    margin-left: 0rem;
  }

  .sidebar.toggled .sidebar-brand-icon img {
    margin-left: 0rem;
  }
}
