.main {
    margin: 30px;
    margin-right: 100px;
    color: black;
    padding-top: 10px;
    font-family: "Avenir Next";
}

.appointments-container {
    width: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.appointment {
    display: inline-block;
    width: 333px;
    border-radius: 10px;
    border-color: rgb(132, 197, 244);;
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    margin-right: 20px;
}

.appointment-body {
    font-weight: bold;
    margin-top: 20px;
}

.days {
    margin-top: -7px;
    font-size: small;
    color: gray;
}

.appointment-footer {
    text-align: center;
    margin-bottom: -21px;
    margin-left: -20px;
    background-color: lightblue;
    width: 114%;
    height: 50px;
    overflow: hidden;
    padding-top: 13px;
    color: rgb(38, 128, 194);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
}

.status {
    float: right;
    margin-top: -30px;
    font-weight: bold;
    font-size: 12px;
}

#confirmed {
    background-color: lightgreen;
    color: green;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#on-call {
    color: white;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#done {
    color: green;
}

#name {
    font-weight: bold;
}

#date {
    margin-bottom: -2px;
}