<div class="dashboard-patients-wrapper">
    <div class="container-fluid">
        <h3>My Patients</h3>
        <div class="patient-container">
            <% requests.forEach(request=> { %>
                <% if (request.doctor_id==userid && request.status ){ %>
                    <% patients.forEach(patient=> { %>
                        <% if (request.user_id==patient._id){ %>
                            <div class="appointment-col d-flex align-items-center">
                                <img class="patient-img" src="/images/undraw_profile_1.svg">
                                <div class="col-right">
                                    <h6 class="patient-patient">
                                        <%= patient.firstName %>
                                            <%=patient.lastName %>
                                    </h6>
                                </div>
                                <a class="right-icon" type="button"><img src="/images/right-arrow@20px.svg"></a>
                            </div>
                            <% } %>
                                <% }) %>
                                    <% } %>
                                        <% }) %>
        </div>
    </div>
</div>