/* .book-appointment-box {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(127, 163, 202, 0.2);
  width: 375px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: absolute;
  top: 56px;
  height: auto;
  overflow-y: auto;
  padding: 32px 20px;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
} */

/* .modal.fade .modal-dialog {
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.modal.in .modal-dialog {
  transform: translateY(0px);
} */

.modal-backdrop {
  background-color: rgba(38, 128, 194, 0.9) !important;
  opacity: 0.9 !important;
}
#book-appointment .modal-dialog {
  top: 340px;
  margin: auto;
  width: 375px;
}

#book-appointment .modal-content {
  border: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#book-appointment .modal-header {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  border: none;
}

#book-appointment .title-appointment {
  margin-left: 73px;
  margin-right: 95px;
  width: 141px;
  height: 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #102a43;
  display: block;
}

.bar-container .close {
  display: contents;
}

#book-appointment .modal-body {
  padding: 20px;
}

#book-appointment .modal-footer {
  border: none;
  border-radius: 0;
  padding: 32px 20px;
}

#book-now-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 20px 128.68px;
  background: #2680c2;
  box-shadow: 0px 8px 16px -8px rgba(3, 83, 136, 0.4);
  border-radius: 100px;
  border: none;
  margin: 0;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 812px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 812px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.slideInUp {
  animation-name: slideInUp;
  -webkit-animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 812px, 0);
  }
}

@-webkit-keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 812px, 0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.slideOutDown {
  animation-name: slideOutDown;
  -webkit-animation-name: slideOutDown;
}
