.home-wrapper {
  max-width: 375px;
  position: absolute;
  top: 76px;
  height: auto;
  overflow-y: auto;
  margin-bottom: 106px;
}

.home-wrapper::-webkit-scrollbar {
  display: none;
}

.doctor-view {
  margin-bottom: 20px;
  padding: 0 20px;
}

.home-wrapper h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 16px;
  padding: 0 20px;
}

.doctor-view h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #102a43;
  margin-bottom: 0;
}

.doctor-view a {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #2680c2 !important;
}

.booked-activity-set {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: auto;
  margin-bottom: 28px;
  padding: 0 20px;
}

.booked-activity-set::-webkit-scrollbar {
  display: none;
}
.doctor-set {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: auto;
  margin-bottom: 28px;
  padding: 0 20px;
}

.doctor-set::-webkit-scrollbar {
  display: none;
}

.doctor {
  margin-right: 20px;
}
.picture {
  width: 200px;
  height: 120px;
  border-radius: 10px;
  background-image: url("/images/doctor.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}

h6.name {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #102a43;
}

.rate span {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #102a43;
  margin-left: 4px;
}
.rate {
  margin-right: 6px;
}

.rate svg.svg-inline--fa.fa-star.fa-w-18 {
  width: 14px;
  height: 14px;
  color: #f7c948 !important;
}
.doctor {
  width: 200px;
}

.name-rate {
  margin-bottom: 4px;
}

h6.specialization {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #627d98;
  margin-bottom: 8px;
}

.patients svg.svg-inline--fa.fa-users-medical.fa-w-20 {
  width: 20px;
  height: 16px;
  color: #627d98;
}

.patients span {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #102a43;
  margin-left: 4px;
}

.experience svg.svg-inline--fa.fa-graduation-cap.fa-w-20 {
  width: 16px;
  height: 16px;
  color: #627d98;
}

.experience span {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #102a43;
  margin-left: 4px;
}

.experience {
  margin-right: 6px;
}

.specialization-set {
  margin-bottom: 20px;
}
.explore-specialization {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #102a43;
  margin-bottom: 20px;
  padding: 0 20px;
}
.specialization-set {
  padding: 0 20px;
}

.spel-container {
  width: 157.5px;
  height: 65px;
  background: #dceefb;
  border-radius: 10px;
  padding: 16px;
}

.spel-container .spel-title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #102a43;
  margin-bottom: 4px;
}

.spel-container .doc-numbers {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #627d98;
  display: block;
}
