<div class="view-doctors">
    <div class="topbar fixed-top">
        <div class="bar d-flex justify-content-center align-items-center">
            <div class="bar-container d-flex justify-content-center align-items-center">
                <a class="prev" href="/home"><img src="/images/left-arrow.svg"></a>
                <span class="title-view">All Doctors</span>
                <a class="filter" href="/">Filter</a>
            </div>
        </div>
        <div class="search d-flex justify-content-center">
            <form class="form-inline">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
        </div>
    </div>
    <div class="view-set">
        
        <% if (doctors.length > 0) { %>                                    
            <% doctors.forEach(doctor => { %>

        <div class="doc">
            <a href="/view-doctor/<%= doctor._id %>" class="d-flex justify-content-center align-items-center">
                <div class="doc-photo"></div>
                <div class="doc-info">
                    <h6 class="doc-name">Dr. <%= doctor.firstName %> <%= doctor.lastName%></h6>
                    <span class="doc-spel">Pediatrician</span>
                </div>
                <img src="/images/right-arrow.svg">
            </a>
        </div>
        <hr class="divider">
        </hr>
             <% }) %>
        <% } %>

        <div class="doc">
            <a href="/view-doctor" class="d-flex justify-content-center align-items-center">
                <div class="doc-photo"></div>
                <div class="doc-info">
                    <h6 class="doc-name">Dr. Eduardo Stan</h6>
                    <span class="doc-spel">Pediatrician</span>
                </div>
                <img src="/images/right-arrow.svg">
            </a>
        </div>
        <hr class="divider">
        </hr>
        <div class="doc">
            <a href="/view-doctor" class="d-flex justify-content-center align-items-center">
                <div class="doc-photo"></div>
                <div class="doc-info">
                    <h6 class="doc-name">Dr. Eduardo Stan</h6>
                    <span class="doc-spel">Pediatrician</span>
                </div>
                <img src="/images/right-arrow.svg">
            </a>
        </div>
        <hr class="divider">
        </hr>
        <div class="doc">
            <a href="/view-doctor" class="d-flex justify-content-center align-items-center">
                <div class="doc-photo"></div>
                <div class="doc-info">
                    <h6 class="doc-name">Dr. Eduardo Stan</h6>
                    <span class="doc-spel">Pediatrician</span>
                </div>
                <img src="/images/right-arrow.svg">
            </a>
        </div>
        <hr class="divider">
        </hr>
        <div class="doc">
            <a href="/view-doctor" class="d-flex justify-content-center align-items-center">
                <div class="doc-photo"></div>
                <div class="doc-info">
                    <h6 class="doc-name">Dr. Eduardo Stan</h6>
                    <span class="doc-spel">Pediatrician</span>
                </div>
                <img src="/images/right-arrow.svg">
            </a>
        </div>
        <hr class="divider">
        </hr>
    </div>
</div>