<div class="doctor-wrapper">
    <div class="topbar-doctor fixed-top">
        <div class="bar-doctor d-flex align-items-center">
            <div class="bar-container d-flex align-items-center">
                <a class="prev" href="#" onclick="javascript:window.history.back(-1);return false;"><img src="/images/left-arrow.svg"></a>
            </div>
        </div>
    </div>
    <div class="photo"></div>
    <div class="info-box">
        <div class="info-doc">
            <div class="name-status d-flex align-items-center">
                <h1 class="info-name">Dr. <%= doctor.firstName %>
                        <%= doctor.lastName%>
                </h1>
                <div class="status pending" style="display: none;">
                    <span class="label pending">Pending</span>
                </div>
                <div class="status confirmed" style="display: none;">
                    <span class="label confirmed">Confirmed</span>
                </div>
            </div>
            <h2 class="info-specialization">Psychiatrist</h2>
        </div>
        <div class="info-rate d-flex align-items-center">
            <div class="rate-icon">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>4.7</span>
        </div>
        <div class="info-patients-experience d-flex justify-content-between align-items-center">
            <div class="info-patients d-flex align-items-center">
                <i class="far fa-users-medical"></i>
                <span>576 patients</span>
            </div>
            <div class="info-experience d-flex align-items-center">
                <i class="far fa-graduation-cap"></i>
                <span>14 years</span>
            </div>
        </div>
        <div class="info-about">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique ut rhoncus, netus sit. Dui, viverra vitae ut pulvinar. Auctor morbi at magna dignissim maecenas est ac. Pellentesque feugiat urna commodo bibendum.</p>
        </div>
        <button type="button" id="book-appointment-btn" class="btn btn-primary" data-toggle="modal" data-target="#book-appointment">
            Book Appointment
        </button>
                <button type="button" style="display: none;" id="come-in-btn" class="btn btn-primary">
                    Come In
                </button>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="book-appointment" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="bar-container d-flex justify-content-center align-items-center">
                    <a class="close" type="button" aria-label="Close"><img src="/images/close.svg"></a>
                    <span class="title-appointment">Book Appointment</span>
                </div>
            </div>
            <form>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputDate">Choose Date</label>
                            <input type="date" class="form-control" id="exampleInputDate" aria-describedby="emailHelp" name="appointment_date">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputTime">Choose Time</label>
                            <input type="time" class="form-control" id="exampleInputTime" name="appointment_time">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Cause/Symptom</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" id="book-now-btn" class="btn btn-primary">Book Now</button>
                        <!-- <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" id="book-now-btn" class="btn btn-primary">Book Now</button>
                    </div> -->
                    </form>
                </div>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();


        //get the values
        const doctor_id = '<%= doctor._id%>';
        const appointment_date = form.appointment_date.value;
        const appointment_time = form.appointment_time.value;

        try {
            const res = await fetch('/book-appointment', {
                method: 'POST',
                body: JSON.stringify({doctor_id, appointment_date, appointment_time }),
                headers: { 'Content-Type': 'application/JSON' }
            });
            const data = await res.json();
            console.log(data)
  
            if(data.user){
                location.assign('/home');
            }
        } catch (err) {

        }

    });
</script>