<div class="doctor-wrapper">
    <div class="topbar-doctor fixed-top">
        <div class="bar-doctor d-flex align-items-center">
            <div class="bar-container d-flex align-items-center">
                <a class="prev" href="#" onclick="javascript:window.history.back(-1);return false;"><img src="/images/left-arrow.svg"></a>
            </div>
        </div>
    </div>
    <div class="photo"></div>
    <div class="info-box">
        <div class="info-doc">
        <h1 class="info-name">Dr. Eduardo Stan</h1>
        <h2 class="info-specialization">Psychiatrist</h2>
        </div>
        <div class="info-rate d-flex align-items-center">
            <div class="rate-icon">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
            <span>4.7</span>
        </div>
        <div class="info-patients-experience d-flex justify-content-between align-items-center">
                    <div class="info-patients d-flex align-items-center">
                        <i class="far fa-users-medical"></i>
                        <span>576 patients</span>
                    </div>
                    <div class="info-experience d-flex align-items-center">
                        <i class="far fa-graduation-cap"></i>
                        <span>14 years</span>
                    </div>
        </div>
        <div class="info-about">
                    <h3>About</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique ut rhoncus, netus sit. Dui, viverra vitae ut pulvinar. Auctor morbi at magna dignissim maecenas est ac. Pellentesque feugiat urna commodo bibendum.</p>
        </div>
            <button type="button" id="book-appointment-btn" class="btn btn-primary" data-toggle="modal" data-target="#book-appointment">
                Book Appointment
            </button>
    </div>
</div>