.appointment-col {
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(127, 163, 202, 0.1);
  border-radius: 8px;
  margin-bottom: 12px;
}

.patient-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #c4c4c4;
}

.col-right {
  margin-left: 16px;
  margin-right: auto;
}

.col-left {
  margin-right: 12px;
}
.appointment-reason {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #102a43;
}

.sched-time {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #102a43;
}

.vertical {
  margin: 0px 8px;
  border-left: 2px solid #102a43;
  height: 16px;
}
.sched-date {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #102a43;
}

.consultation-fee {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #102a43;
}

.name-patient {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: left;

  color: #627d98;
}

.right-icon {
  display: contents;
}
.appointment-status {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: right;

  color: #627d98;
}

#status-pending {
  color: #c99a2e;
}

#status-accept {
  color: #079a82;
}

#status-done {
  color: #9aa5b1;
}

#status-decline {
  color: #a61b1b;
}

/*Modal*/

#appointment-modal .modal-dialog {
  position: fixed;
  right: 0;
  margin: 0;
}
.close-app-btn {
  display: contents;
}

#appointment-modal .modal-content {
  width: 366px;
  height: 100vh;
}

#appointment-modal .modal-body {
}

.modal-status {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 6px;
}

.modal-reason {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #102a43;
  margin: 0;
}

.modal-sched {
}

.modal-time {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #102a43;
  margin: 0;
}

.modal-vertical {
  margin: 0px 8px;
  border-left: 2px solid #102a43;
  height: 16px;
}

.modal-date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #102a43;
  margin: 0;
}

.modal-patient {
}

.booked-by {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #102a43;
  margin: 0;
}

.modal-name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #102a43;
  margin: 0;
}

#appointment-modal .modal-footer {
}

#decline-btn {
}

#approve-btn {
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.slideInRight {
  animation-name: slideInRight;
  -webkit-animation-name: slideInRight;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.slideOutRight {
  animation-name: slideOutRight;
  -webkit-animation-name: slideOutRight;
}
#appointment-content {
  width: 366px;
  height: 100vh;
}

@media (max-width: 1280px) {
  .appointment-col {
    width: 620px;
  }
}
